*.o        # Ignore object files
*.a        # Ignore static libraries
*.so       # Ignore shared libraries
*.out      # Ignore output files    
ServerCode/Web_Page_Code/.venv
ServerCode/Web_Page_Code/__pycache__ 
/binarySplit
*.bin
*.jpeg
*.png 
*.jpg
RaspberryPiCode/Binary_Conversion/binary/binarySplit
RaspberryPiCode/Binary_Conversion/*.tar*
RaspberryPiCode/Binary_Conversion/md5sum.txt
RaspberryPiCode/Binary_Conversion/binary/binarySplit
ServerCode/JabcodeRead/encryptedFiles
ServerCode/JabcodeRead/compressedFiles
ServerCode/JabcodeWrite/jabcodes
ServerCode/JabcodeWrite/md5sum.txt
*.tar*
*Death_Star_Images_*
RaspberryPiCode/assets/md5sumRP.txt



