<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">        
        <title>To the Galaxy</title>
    </head>
    <body>
        <div class="title">
            <h2>Team 11 Death Star Detection</h2>
        </div>

        <div class="navigation">
            <ul>
                <li><a a href="/DeathStarWeaknesses">Death Star Weaknesses</a></li>
                <li><a class="active" a href="/GalaxyVideo"> Galaxy Video</a></li>
                <li><a href="/login">Obi-Wan Login</a></li>
            </ul>
        </div>

        <div class="youtubeVideo">
            <p>To The Galaxy</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zGwszApFEcY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>
