<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">        <title>Team 11</title>
    </head>
    <body>
        <div class="title">
            <h2>Death Star Detection</h2>
        </div>
        <div class="navigation">
            <ul>
                <li><a class="active" a href="home.html">Death Star Weaknesses</a></li>
                <li><a href="home.html">Obi-Wan Login</a></li>
            </ul>
        </div>
    </body>
</html>